@page "/"

<AuthorizeView Roles="Administrador">
    <Authorized Context="AuthenticationState">
        <h1 style="color:blueviolet; padding:6px; font-weight:600" colspan="2">Bienvenido Administrador</h1>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Usuario">
    <Authorized Context="AuthenticationState">
        <h1 style="color:blueviolet; padding:6px; font-weight:600" colspan="2">Bienvenido Usuario</h1>
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <NotAuthorized>
        <h2 style="color:blueviolet; padding:6px; font-weight:600" colspan="2" align="center" >Debe identificarse para poder acceder a la aplicación</h2>
    </NotAuthorized> 
</AuthorizeView>
